<!-- check how many elements was added to the form and in what order, so you can know how
 to mark them down in the right order. my guess is have an id that adds a number to each element
 added, so you can know the order. The class name should be whether its a title element or h2 or p or img -->
 <!-- i guess you'd need js to render them in the right order. Basically dump them with python, then order
  them with js based on id. -->
<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<nav></nav>
<h1>this is a test</h1>
{% for items in %}
</body>

</html>


